
<div class="formm-box">
    <form>
        <h2>    CONTACTEZ NOUS!    </h2>
        <div class="inputbox">
            <span>NOM & PRENOM</span>
            <input type="text" name="name" required="required">
        </div>
        <div class="inputbox">
            <span>EMAIL</span>
            <input type="text" name="email" required="required">
        </div>
        <div class="inputbox">
            <span> MESSAGE </span>
            <textarea name="message" required="required"></textarea>
        </div>
        <div class="inputbox">
            <input type="submit" value="ENVOYER">
        </div>
    </form>

</div>

<div class="address">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25543.910695294522!2d10.144340174316397!3d36.842743399999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd34bcbbe442c1%3A0xfd3a8047316a0db6!2sRent%20a%20car!5e0!3m2!1sfr!2stn!4v1682624909628!5m2!1sfr!2stn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
