<div class="container">

    <header>
    <div class="top-bar">
            
      <div class="phone-number">
        <i class="fas fa-phone"></i>
        <span><ion-icon name="call-outline"></ion-icon>+216 22 524 885</span>
        <span><ion-icon name="storefront-outline"></ion-icon>+216 71 524 885</span>
      </div>

      <span><ion-icon name="time-outline"></ion-icon> Lundi - Vendredi : de 8h à 17h </span>

      <div class="social-icons">
        <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
      </div>

    </div>

    <div>
      <div class="logo" href="index.html">
          <img class="img" src="../assets/cap.png">
          <a href="index.html">Rent</a>  
      </div>


      <ul >
               
        <li ><a routerLink="/seconnecter"> Se connecter</a></li>
        <li><a routerLink="/contact"> Contact </a></li>
        <li><a routerLink="/nosoffres"> Nos offres</a></li>
        <li><a routerLink="/vehicules"> Vehicules </a></li>
        <li class="active"><a routerLink="/acceuil">  Acceuil </a></li>
    </ul>
      </div>
  </header>

   <router-outlet></router-outlet>
   

  <footer>
    <p>© 2023 Car Rent. Tous droits réservés.</p>
  </footer>
</div>

     