*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'century';
    
}



 section{
    display: flex;
    justify-content: center;
    
    min-height: 100vh;
    width:100%;
 }
.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 2em;
    color: #fff;
    text-align: center;
    
}





.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
.inputbox input:focus ~ label,
.inputbox input:valid ~ label{
top: -5px;
}
.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: #fff;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;
}







.forget{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: center;
}
.forget label input{
    margin-right: 3px;
}
.forget label a {
    color: #fff;
    text-decoration: none;
}
.forget label a:hover{
    text-decoration: underline;

}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
.register{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;

}

ul {
    list-style-type: none; 
    overflow: hidden;
    margin: 1cm;
    
}
li {
    float: right;
  }

li a {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  display: block; 
  padding: 15px 30px;
  text-decoration: none; 
  color: #fff;
  text-align: center;
 
}

li a:hover {

    background-color: rgba(170, 159, 159, 0.484);
    text-decoration: none;
  }
li a:hover:not(.active) {
  background-color: rgba(170, 159, 159, 0.302);
  
}



.active {
  background-color: rgb(48, 46, 46, 0.696);
}
.img{
    position: absolute;
    top:4.6%;
    left:1.7%;
    width: 180px;
    
}
.titre {
    color: #fff;
    font-size: 9px;
}
.container{
    background:linear-gradient(rgba(56, 53, 53, 0.192),rgba(49, 47, 47, 0.439)),url(../assets/1920x960_EWB_Hero.jpg) no-repeat  ;
    height: 100vh ;
    background-size: cover; 
    background-color: rgb(217, 209, 209);
    background-position: 100%;
    margin-bottom: 45px;
    overflow: scroll;


}

.logo a{
    color:rgba(170, 159, 159, 0.686);
    padding: 10px 25px ;
    position: absolute;
    top:17mm;
    left:4%;
    text-transform: uppercase;
    text-decoration: none ;
    font-weight: 1000;
    font:  1.2em "Fira Sans", serif;
    font-size: 8mm;
    }


.logo spam{
    color: #121111;
    font-size: 15mm;
    font-family: Lucida     ;

}

.titre{
    position: relative;
    padding: 13px 25px ;
    top: 20%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-family: Georgia, serif;
    font-size: 25px;
    word-spacing: 1px;
    color: #292929;
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
}








.pp {
    position: absolute;
    top: 45%;
    left: 20%;
    transform: translate(-50% , -50%);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #fff;
    font-size: 16px;
}
.bouton{
    font-family:Verdana, Geneva, sans-serif;
    position: absolute;
    top: 60%;
    left: 15%;
    transform: translate(-50% , -50%);
}
.bouton a{
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #fff;
    text-decoration: none;
    border: 0.5px solid #fff;
    padding: 10px 20px;
    font-size: 5mm;

}
.btn{
    transition: 0.6s ease;
    color: #fff;
}
.btn:hover{
    background-color: rgba(170, 159, 159, 0.484);

}


.text h1{
  position: relative;
  top:9.5cm;
  left:-8cm;
  font-size: 12mm;
  letter-spacing:3px;
  margin:50px;
  margin-top: -300px;
  color: #2b4985;
   
}
 .text span{
    color: rgba(255, 255, 255, 0.658);
 }
 .text p{
   font-size: 1.5rem;
   color: rgba(255, 255, 255, 0.658);
 }
 .text{
  position: relative;
   top:10px;
   left: 200PX;
 }
 .formm-container form{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
    left: -18cm;
    top:8CM;

    background: #2b498575;
    padding: 15px;
    border-radius: 0.5rem;
     }
 
 .inputt-box{
    flex: 1 1 7rem;
    display: flex;
    flex-direction: column;
 }
 .inputbox span{
 font-weight: 500;
 }
 .inputt-box input{
    padding: 7px;
    outline: none;
    border: none;
    background: #ffffffbf;
    border-radius: 0.5rem;
    font-size: 1rem;
    margin-top: 2mm;
 }

 
 .formm-container form .btn{
    flex: 1 1 7rem;
    padding: 10px 34px;
    border: none;
    border-radius: 0.5rem;
    background: #a5a6a7ce;
    color: #ffffffbf;
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    top: 3.5mm;
 }
 .formm-container form .btn:hover{
    background: #2b4985e5;
 }

 .middle{
  background-color: #2f2e2ede;
padding-top: 6cm; 
padding-bottom: 2cm;
position: relative;
top:-9mm;}

 .top-bar {
    background-color: #e7e7e794;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 16px;
    padding: 2px;
  }
  
  .social-icons a {
    margin-left: 10px;
    color: #555;
  }
  
  .phone-number {
    display: flex;
    align-items: center;
    color: #555;
  }
  
  .phone-number i {
    margin-right: 5px;
  }
  span+span{
    margin-left: 10px;
  }
  
  .titree{
    text-align: center;
    margin-top: -150px;

  }
  .titree span{
    font-weight: 500;
    text-transform: uppercase;
    text-align: right;
  }
  .titree h1{ 
    font-size: 2rem;
  }
  .ride-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 1rem;
    margin-right: 30px;
  }
  .box {
    width: 150px;
    height: 100px;
    background-color: #b8c4e1;
    margin: 0 10px;
    border-radius: 0.5rem;
    
  }
  .box h2{
    font-size: 1.5rem;
    color: #121111;
  }
.about h1{
    text-align: center;
    margin-top: 20px;
}
.image-with-text{
    flex-shrink: 0;
    margin-right: 20px;
    margin-left: 100px;
    margin-top: 30px;
}
.image-with-text p{
    text-align: center;
   margin:-500px
}
footer {
    background-color: #f2f2f2;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    top: 100PX;
  }
  
  footer p {
    margin: 0;
    font-size: 14px;
    color: #333;
  }

  
.texte{
  position: relative;
  width: 15cm;
  top: -6.2cm;
  left: 14.5cm;
}
.s2{
  margin-top: -4cm;
  background-color: #605c5c69;
}
  

footer {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    font-size: 0.8rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    top: 95%
  }

/*menu*/
ul {
    list-style-type: none; 
    overflow: hidden;
    margin: 1cm;
}
li {
    float: right;
  }

li a {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  display: block; 
  padding: 15px 30px;
  text-decoration: none; 
  color: #fff;
  text-align: center;
 
}

li a:hover {

    background-color: rgba(170, 159, 159, 0.484);
    text-decoration: none;
  }
li a:hover:not(.active) {
  background-color: rgba(170, 159, 159, 0.302);
  
}



.active {
  background-color: rgb(48, 46, 46, 0.696);
}





