
<section>
    <div class="home" id="home">

      <div class="text">
        <h1>WE OFFER <br>THE BEST CARS <br><span> WITH GREAT PRICES</span></h1>
      </div>

    </div>

    <div class="formm-container">
      <form action="">

        <div class="inputt-box">
          <span>Location</span>
          <input type="search" name="" id="" placeholder="Search Plcaes" >
        </div>

        <div class="inputt-box">
          <span>Pick Up Date</span>
          <input type="date" name="" id="">
        </div>

        <div class="inputt-box">
          <span>Return Date</span>
          <input type="date" name="" id="">
        </div>

        <input type="submit" name="" id="" class="btn ">   
      </form>
    </div>
</section>
  <div class="s2">

    <div class="middle">
      <div class="titree">
        <span>HOW IT WORK</span>
        <h1>Rent With 3 Easy Steps</h1>
      </div>

      <div class="ride-container">
        <div class="box">
          <h2><ion-icon name="location-outline"></ion-icon><br>Choose A Location</h2>
        </div>
  
        <div class="box">
          <h2><ion-icon name="calendar-outline"></ion-icon><br>Pick Up Date</h2>
        </div>
  
        <div class="box">
          <h2><ion-icon name="checkmark-circle-outline"></ion-icon><br>Book A Car</h2>
        </div>
          
      </div>
    </div>

    <div class="about">
      <h1>About Us</h1>
    </div>

    <div class="image-with-text">
      <img src="../assets/about.jpg" alt="taille image" width="400" height="266.66" style="   border-radius: 10%; position: relative; left: -cm;">
    </div>

    <div class="texte">
      <h3>Chez Rent A Car, nous sommes passionnés par la location de voitures et nous sommes fiers de fournir un service client exceptionnel à chaque client. Nous offrons une vaste sélection de voitures de qualité à des prix compétitifs pour répondre aux besoins de nos clients. Que vous ayez besoin d'une voiture pour un voyage d'affaires ou de loisirs, nous avons ce qu'il vous faut. Nous sommes impatients de vous aider à planifier votre prochain voyage sur la route."</h3>
    </div>
  </div>